defaults:
  - _self_

trainer:
    accelerator: gpu
    devices: 8
    num_nodes: 32
    max_steps: 1000
    limit_val_batches: null
    limit_test_batches: null
    val_check_interval: 5000
    num_sanity_val_steps: 0
    log_every_n_steps: 1
    accumulate_grad_batches: 1
    use_distributed_sampler: False

strategy:
  tensor_model_parallel_size: 4
  pipeline_model_parallel_size: 2
  virtual_pipeline_model_parallel_size: null
  expert_model_parallel_size: 4
  context_parallel_size: 1
  sequence_parallel: true
  pipeline_dtype: torch.bfloat16
  ckpt_async_save: True
  ckpt_parallel_load: True
  gradient_as_bucket_view: True

ddp:
  grad_reduce_in_fp32: True
  overlap_grad_reduce: True
  overlap_param_gather: True
  check_for_nan_in_grad: True
  average_in_collective: True
  suggested_communication_unit_size: 1000000000

plugins:
  _target_: nemo.lightning.pytorch.plugins.MegatronMixedPrecision
  precision: 'bf16-mixed'


callbacks:
  - _target_: nemo.utils.exp_manager.TimingCallback
  - _target_: nemo.lightning.pytorch.callbacks.GarbageCollectionCallback
    gc_interval_train: 5
    gc_interval_val: 5
  - _target_: nemo.lightning.pytorch.callbacks.megatron_comm_overlap.MegatronCommOverlapCallback
    tp_comm_overlap: False

data:
  seq_length: 2048
  micro_batch_size: 1
  global_batch_size: 64

dataset:
  dataset_path: "<data_path>"
  num_workers: 1
  partition: "train"
  pin_memory: false
  keep_in_memory: true
  shuffle: false
  drop_last: true

mmap:
  cache_dir: "/dev/shm/pdl_cache"
  prefetch_length: 10
  lookback_length: 10
  checkpoint_frequency: 100

model:
  config:
    num_layers: 36
    num_moe_experts : 128
    add_bias_linear: False
    window_size: null

log:
  _target_: nemo.lightning.nemo_logger.NeMoLogger
  name: 'gpt_oss_small_120b'
  log_dir: &log_dir ${oc.env:CHECKPOINT_DIR}
  ckpt:
    _target_: nemo.lightning.pytorch.callbacks.model_checkpoint.ModelCheckpoint
    save_last: True
    save_top_k: 3
    every_n_train_steps: 400
    # specify the directory to write.
    dirpath : ${log.log_dir}
    filename: '{model_name}-{step}-{consumed_samples}'
  tensorboard:
    _target_: lightning.pytorch.loggers.TensorBoardLogger
    save_dir: 'tb_logs'
    name: 'gpt_oss_pretrain_${oc.env:JOB_NAME}'
  wandb: null

optim:
  config:
    _target_: megatron.core.optimizer.OptimizerConfig
    optimizer: 'adam'
    lr: 1e-4
    weight_decay: 0.1
    fp16: False
    bf16: True
    adam_beta1: 0.9
    adam_beta2: 0.98
    adam_eps: 1e-05
    use_distributed_optimizer: True
    clip_grad: 1.0
  lr_scheduler:
    _target_: nemo.lightning.pytorch.optim.CosineAnnealingScheduler
    warmup_steps: 50
    constant_steps: 0
    min_lr: 0


resume:
  _target_: nemo.lightning.AutoResume
  restore_config:
    _target_: nemo.lightning.RestoreConfig
    path: "<model_weight_path_here>"
    load_artifacts: false
  resume_from_directory: ${log.ckpt.dirpath}
  resume_if_exists: true
  resume_past_end: true
  resume_ignore_no_checkpoint: true
